body {
    background-color: #f5f5f5;
    font-family: serif;
    overflow-x: hidden;
    /* max-width: 1400px;
    margin: auto; */
}
.title {
    color: #c6b37aed;
    font-size: 1.3rem;
}
.gold-blur {
    background: #e7e0cc;
    position: absolute;
    width: 30rem;
    height: 20rem;
    bottom: 0;
    left: 0;
    border-radius: 50%;
    filter: blur(72px);
    z-index: -1;
}
.navbar-space {
    width: 100%;
    height: 150px;
    margin-top: -7%;
}
/*------------ navbar ------------*/
.navbar {
    background-color: #f5f5f5;
    border-bottom: 3px solid #c6b37aed;
}
.navbar-collapse {
    flex-grow: inherit;
}
.navbar-brand {
    margin-right: 10rem;
}
.candleIcon {
    position: absolute;
    top: -40%;
    left: 48%;
}
.navbar-light .navbar-nav .nav-link.active, 
.navbar-light .navbar-nav .show>.nav-link,
.navbar-light .navbar-nav .nav-link:hover {
    color: rgb(200 184 131);
}
/*------------ home ------------*/
#home {
    height: 95vh;
    background-color: #fff;
    position: relative;
    background-image: url('./images/pexels-ekaterina-bolovtsova-6311975home.jpeg');  /*Photo by EKATERINA  BOLOVTSOVA: https://www.pexels.com/photo/lighted-candles-on-a-marble-tray-6311975/*/
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#home img {
    width: 100%;
    margin-right: 3rem;
}
#home h1 {
    font-size: 5rem;
    font-weight: bold;
    color: #c6b37aed;
    margin-left: 5rem;
}
#home .spark {
    position: absolute;
    width: 150px;
}
.spark1 {
    top: 10%;
    left: 25%;
}
.spark2 {
    top: 26%;
    left: 40%;
}.spark3 {
    bottom: 0px;
    left: 4%;
}
/*------------ About ------------*/
#about {
    margin-top: 70px;
    position: relative;
}
#about p {
    max-width: 70%;
    margin: auto;
}
#about .spark {
    width: 100px;
    position: absolute;
    top: 0;
    left: 35%;
}
/*------------ Best ------------*/
#best {
    margin: 60px auto;
    position: relative;
}
#best img {
    filter: drop-shadow(1px 4px 3px #000);
}
#best .tt {
    width: 80%;
    height: 40%;
    position: absolute;
    top: 5%;
    left: 10%;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    font-size: 1.5em;
    opacity: 0;
    transition: all 0.5s ease;
}
#best .tt:hover {
    opacity: 1;
}
#best .btn {
    font-size: 12px !important;
}
#best .border-top {
    border-top: 1px solid #9e9e9e96 !important;
}
.candle-description {
    font-size: small;
    margin-top: -5%;
}
.candle-card {
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}
.rose {
    position: absolute;
    top: -10%;
    left: 5%;
    width: 80px;
    height: 80px;
    border-top: 1px dotted #000;
    border-radius: 50%;
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
}
.rose img {
    width: 80%;
    margin-left: 8px;
}
.fa-heart {
    cursor: pointer;
}
/*------------ product details modal ------------*/
.quantity input {
    width: 60px;
    text-align: center;
    margin-left: 10px;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {  

   opacity: 1;

}
/*------------ ourProduct ------------*/
#ourProduct {
    margin: 60px auto;
}
/*------------ gallery ------------*/
#gallery {
    background-color: #9e9e9e80;
    margin: 150px auto;
    position: relative;
}
#gallery .circleLogo {
    position: absolute;
    width: 150px;
    height: 150px;
    background-color: #000;
    top: 8%;
    left: 46%;
    z-index: 10;
    border-radius: 50%;
}
.textLogo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    animation: rotateText 10s linear infinite;
}
@keyframes rotateText {
    100% {
        transform: rotate(360deg);
    }
}
.textLogo span {
    position: absolute;
    top: -16%;
    left: 50%;
    font-size: 1.2em;
    transform-origin: 0 100px;
}
/*------------ Cart ------------*/
.cart {
    position: fixed;
    top: 15%;
    right: 0;
    width: 30%;
    min-height: 100vh;
    padding: 20px;
    background-color: #f5f5f5;
    box-shadow: 2px 2px 5px #000;
    z-index: 100;
    transition: 0.3s;
}
.cart.active {
    right: 0;
}
.cart-content {
    display: flex;
    justify-content: space-between;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.328);
    padding-bottom: 15px;
    padding-right: 5px;
}
.cart-content:hover {
    background-color: #cac3a961;
}
.cart-img {
    width: 150px;
    height: 150px;
    object-fit: contain;
    padding: 10px;
}
.detail-box {
    display: flex;
    margin-right: auto;
    margin-left: 15px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.cart-title {
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    margin-top: 2rem;
}
.product-title {
    font-size: 1.2rem;
    text-transform: uppercase;
}
.cart-price {
    font-weight: 500;
    color: #000;
    margin: 10px auto;
}
.cart-quantity {
    border-radius: 3px;
    border: 1px solid #000;
    outline-color: rgb(185, 31, 31);
    width: 2.4rem;
    text-align: center;
    font-size: 1rem;
}
.cart-remove {
    color: #000;
    margin-top: auto;
    cursor: pointer;
}
.cart-remove:hover {
    color: rgb(118, 6, 6);
}
.total {
    display: flex;
    justify-content: flex-end;
    margin-top: 1.5rem;
}
.total-title {
    font-size: 1rem;
    font-weight: 600;
}
.total-price {
    margin-left: 0.5rem;
}
.btn-buy {
    display: flex;
    margin: 1.5rem auto 0 auto;
    padding: 12px 20px;
    font-size: 1rem;
    font-weight: 400;
    cursor: pointer;
}
.btn-buy:hover {
    background-color: burlywood;
}
.closeBtn {
    cursor: pointer;
    position: absolute;
    top: 2%;
    right: 2%;
    font-size: 1.5rem;
}

/*----------------Media Query----------------*/
@media screen and (max-width: 1400px) {
    #gallery .circleLogo {
        width: 140px;
        height: 140px;
        left: 44%;
    }
    .textLogo span {
        transform-origin: 0 93px;
    }
}
@media screen and (max-width: 1000px) {
    #gallery .circleLogo {
        width: 100px;
        height: 100px;
    }
    .textLogo span {
        transform-origin: 0 69px;
    }
}
@media screen and (max-width: 768px){
    .navbar-brand {
        margin-right: 0rem;
    }
    .icons {
        margin-left: auto;
        margin-right: 4%;
    }
    .candleIcon {
        left: 46%;
    }
    #home {
        height: 50vh;
    }
    #home h1 {
        font-size: 3rem;
    }
    #about p {
        max-width: 75%;
    }

    .rose {
        top: -11%;
        width: 50px;
        height: 50px;
    }
    #gallery {
        padding-top: 40px;
    }
    #gallery .circleLogo {
        width: 100px;
        height: 100px;
        top: -5%;
    }
    .textLogo span {
        top: -22%;
        left: 50%;
        transform-origin: 0 72px;
    }
}

@media screen and (max-width: 600px) {
    .container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        width: 90%;
        margin: auto;
    }
    .navbar {
        justify-content: center;
    }
    .candleIcon {
        left: 0;
    }
    .navbar-brand {
        margin-left: -18%;
    }
    .navbar-toggler {
        margin-right: -18%;
    }
    #home h1 {
        font-size: 2rem;
        margin-left: 0rem;
        text-align: center;
    }
    #about h2 {
        margin: 7px;
        text-align: center;
    }
    #about p {
        font-size: 15px;
        text-align: center;
    }
    .rose {
        top: -10%;
        width: 80px;
        height: 80px;
    }
    #gallery {
        padding-top: 15%;
    }
    #gallery .circleLogo {
        top: -9%;
        left: 35.5%;
    }
}
