body {
    background-color: #f5f5f5;
    font-family: 'Work Sans', sans-serif;
    letter-spacing: 1.5px;
    font-size: 15px;
    overflow-x: hidden;
    scroll-behavior: smooth;
    /* max-width: 1400px;
    margin: auto; */
}
.title {
    color: #938046;
    font-size: 1.3rem;
}
.bg-dark {
    background-color: #000!important;
}
.gold-blur {
    background: #e7e0cc;
    position: absolute;
    width: 30rem;
    height: 20rem;
    bottom: 0;
    left: 0;
    border-radius: 50%;
    filter: blur(72px);
    z-index: -1;
}
.gold {
    color: #938046;
}
.navbar-space {
    width: 100%;
    height: 150px;
    margin-top: -7%;
}
h2 {
    letter-spacing: 3px;
}
.btn:focus {
    box-shadow: none !important;
}
/*-------------- Modal -------------*/
.modal-dialog {
    margin: auto !important;
}
/*---------- product-counter ---------*/
.product-counter input,
.addToCart-counter input{
    width: 40px;
    text-align: center;
    border: none;
    border-radius: 3px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}
.product-counter .btn,
.addToCart-counter .btn {
    height: 20px;
    width: 30px;
    background-color: #c9c9c9;
    border-radius: unset;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}
/*---------- Top black bar ---------*/
#topBar {
    height: 30px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 12px;
    letter-spacing: 2px;
}
/*------------ navbar ------------*/
.navbar {
    background-color: #f5f5f5;
    border-bottom: 3px solid #938046;

}
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .show>.nav-link,
.navbar-light .navbar-nav .nav-link:hover {
    color: #938046;
}
.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(198, 179, 122, 0.929)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.navbar-light .navbar-toggler {
    border: none;
}
.navbar-nav {
    padding-top: 40px;
}
#basket {
    cursor: pointer;
}
#heartNum, #basketNum {
    font-size: 10px;
    margin: 3px;
    /* color: #fff;
    font-size: 10px;
    padding: 2px 3px;
    border-radius: 50%;
    position: absolute;
    top: 7px;
    left: 3px;
    background-color: #bd3636; */
}
/* #basketNum {
    background-color: #c7b983;
} */
.icons {
    position: absolute;
    right: 2%;
}
.icons .fa-solid {
    color: #707070 !important;
}
.navbar-toggler:focus {
    box-shadow: none;
}
.logo {
    position: absolute;
    top: 0;
    left: 50%;
    margin-top: 3%;
    transform: translate(-50%,0);
}
#popupNavPrice {
    opacity: 0;
    background-color: #e6e3c6;
    color: #000;
    clip-path: polygon(0 27%, 74% 27%, 82% 8%, 89% 27%, 100% 27%, 100% 100%, 0 100%);
    position: absolute;
    right: 2px;
    width: 150px;
    height: 35px;
    padding: 10px 20px;
    padding-top: 10px;
    font-size: 13px;
    transition: all 0.7s ease-in-out;
}
#popupNavPrice.show {
    opacity: 1;
}
.beat {
	animation: heartbeat 1.5s ease-in-out both;
}
/*
.navbar-collapse {
    flex-grow: inherit;
}
.navbar-brand {
    margin-right: 10rem;
}
.candleIcon {
    position: absolute;
    top: -40%;
    left: 48%;
}
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .show>.nav-link,
.navbar-light .navbar-nav .nav-link:hover {
    color: rgb(200 184 131);
}
#basket {
    cursor: pointer;
}
.beat {
	animation: heartbeat 1.5s ease-in-out both;
}
/**
 * ----------------------------------------
 * animation heartbeat
 * ----------------------------------------
 */
  @keyframes heartbeat {
    from {
        transform: scale(1);
        transform-origin: center center;
        animation-timing-function: ease-out;
    }
    10% {
        transform: scale(1.5);
        animation-timing-function: ease-in;
    }
    17% {
        transform: scale(1);
        animation-timing-function: ease-out;
    }
    33% {
        transform: scale(1.5);
        animation-timing-function: ease-in;
    }
    45% {
        transform: scale(1);
        animation-timing-function: ease-out;
    }
  }

/*------------ home ------------*/
#home {
    height: 95vh;
    background-color: #fff;
    position: relative;
    background-image: url('./images/pexels-ekaterina-bolovtsova-6311975home.jpeg');  /*Photo by EKATERINA  BOLOVTSOVA: https://www.pexels.com/photo/lighted-candles-on-a-marble-tray-6311975/*/
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#home img {
    width: 100%;
    margin-right: 3rem;
}
#home h1 {
    font-size: 5rem;
    font-weight: bold;
    color: #938046;
    margin-left: 5rem;
}
#home .spark {
    position: absolute;
    width: 150px;
}
.spark1 {
    top: 10%;
    left: 25%;
}
.spark2 {
    top: 26%;
    left: 40%;
}.spark3 {
    bottom: 0px;
    left: 4%;
}
.itemAlert {
    opacity: 0;
    width: 200px;
    height: 30px;
    background-color: green;
    color: #fff;
    position: fixed;
    top: 3px;
    left: 40%;
    text-align: center;
    padding-top: 1px;
    z-index: 2000;
    transition: all 1s ease;
}
.itemAlert.show {
    opacity: 1;
}
/*------------ About ------------*/
#about {
    margin-top: 70px;
    position: relative;
}
#about p {
    max-width: 70%;
    margin: auto;
}
#about .spark {
    width: 100px;
    position: absolute;
    top: 0;
    left: 35%;
}
#about img {
    filter: contrast(0.5);
}
/*------------ Best ------------*/
#best {
    margin: 60px auto;
    position: relative;
}
.top-title {
    font-size: 12px;
}
#best img {
    filter: drop-shadow(1px 4px 3px #21232540);
}
#best .tt {
    width: 80%;
    height: 40%;
    position: absolute;
    top: 5%;
    left: 10%;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    font-size: 1.5em;
    opacity: 0;
    transition: all 0.5s ease;
}
#best .tt:hover {
    opacity: 1;
}
#best .btn {
    font-size: 12px !important;
}
#best .border-top {
    border-top: 1px solid #9e9e9e96 !important;
}
.candle-description {
    font-size: small;
    margin-top: -5%;
}
.candle-card {
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}
.rose {
    position: absolute;
    top: -10%;
    left: 5%;
    width: 80px;
    height: 80px;
    border-top: 1px dotted #000;
    border-radius: 50%;
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
}
#best img {
    filter: drop-shadow(2px 2px 5px #000);
}
.rose img {
    width: 80%;
    margin-left: 8px;
}
.fa-solid.fa-heart {
    color: #bd3636;
}
/*------------ Product Details Modal ------------*/
.quantity input {
    width: 60px;
    text-align: center;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {

   opacity: 1;

}
#modal2 {
    display: none;
    width: 100%;
    height: 100vh;
    overflow-y: hidden;
    padding-right: 15px;
    background-color: rgba(0, 0, 0, 0.356);
    position: fixed;
    top: 20%;
    left: 0;
    z-index: 2000;
    transition: all 1s ease;
}

/*------------ ourProduct ------------*/
#ourProduct {
    margin: 60px auto;
}
/*------------ gallery ------------*/
#gallery {
    background-color: #9e9e9e80;
    margin: 150px auto;
    position: relative;
}
#gallery .circleLogo {
    position: absolute;
    width: 150px;
    height: 150px;
    background-color: #000;
    top: 8%;
    left: 46%;
    z-index: 10;
    border-radius: 50%;
}
#gallery .gallery-img {
    width: 100%;
    clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
}
.textLogo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    animation: rotateText 10s linear infinite;
}
@keyframes rotateText {
    100% {
        transform: rotate(360deg);
    }
}
.textLogo span {
    position: absolute;
    top: -16%;
    left: 50%;
    font-size: 0.8rem;
    transform-origin: 0 100px;
}
/*------------ Cart ------------*/
.cart {
    position: fixed;
    top: 10%;
    right: 5px;
    width: 30%;
    height: 0px;
    padding-bottom: 4%;
    overflow-y: scroll;
    background-color: #c9c9c9;
    box-shadow: 2px 2px 5px #000;
    border-radius: 20px;
    z-index: 1000;
    transition: height 1s ease-in-out; 
}
.cart.open {
    height: 70%;
}
.cart-content {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    border-bottom: 0.3px solid #c9c9c9;
}
.cart-content:hover {
    background-color: #f8f9fa;
    color: #000;
}
.cart-img {
    width: 120px;
    object-fit: contain;
    background-color: #f8f9fa;
    border-radius: 10px;
    margin-left: 15px;
}
.detail-box {
    margin-right: auto;
    margin-left: 15px;
    margin-top: 5px;
}
.cart-title {
    font-weight: 600;
    text-align: center;
    margin-top: 17%;
    margin-bottom: 40px;
}
.product-title {
    font-size: 1.2rem;
    text-transform: uppercase;
}
.cart-price {
    margin: 10px auto;
    color: #c2c2c2;
}
.cart-quantity {
    border-radius: 3px;
    border: 1px solid #000;
    outline-color: rgb(185, 31, 31);
    width: 2.4rem;
    text-align: center;
    font-size: 1rem;
}
.cart-remove {
    margin-top: auto;
    cursor: pointer;
}
.cart-remove:hover {
    color: #db4c4c;
}
.total {
    display: flex;
    justify-content: space-around;
    margin-top: 1.5rem;
}
.total-title,
.total-price {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.33em;
    letter-spacing: .3em;
}
.btn-buy {
    display: flex;
    margin: 1.5rem auto 0 auto;
    padding: 11px 20px;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #000;
    background-color: #fff;
    border: 1px solid transparent;
    cursor: pointer;
    transition: color .2s ease-out,background-color .2s ease-out,border-color .2s ease-out;
}
.btn-buy:hover {
    background-color: #000;
    color: #fff;
    border: 1px solid #fff;
}
.closeBtn {
    cursor: pointer;
    position: absolute;
    top: 13%;
    right: 2%;
    font-size: 1.5rem;
}

/*----------------Media Query----------------*/
@media screen and (max-width: 1400px) {
    #gallery .circleLogo {
        width: 140px;
        height: 140px;
        left: 44%;
    }
    .textLogo span {
        transform-origin: 0 93px;
    }
}
@media screen and (max-width: 1024px) {
    #gallery .circleLogo {
        width: 100px;
        height: 100px;
    }
    #gallery .gallery-img {
        height: 300px;
    }
    .textLogo span {
        transform-origin: 0 69px;
    }
}
@media screen and (max-width: 768px){
    .itemAlert {
        left: 37%;
    }
    .logo {
        margin-top: 5%;
    }
    .logo img {
        width: 85px;
    }
    .candleIcon {
        left: 46%;
    }
    #home {
        height: 50vh;
    }
    #home h1 {
        font-size: 3rem;
    }
    #about p {
        max-width: 75%;
    }

    .rose {
        top: -11%;
        width: 50px;
        height: 50px;
    }
    #gallery {
        padding-top: 40px;
    }
    #gallery .circleLogo {
        width: 100px;
        height: 100px;
        top: -5%;
    }
    .textLogo span {
        top: -22%;
        left: 50%;
        transform-origin: 0 72px;
    }
    .cart {
        width: 50%;
    }
    .navbar-space {
        margin-top: -20%;
    }
    footer p {
        font-size: 10px;
        margin-top: 5px;
    }
}

@media screen and (max-width: 600px) {
    #home h1 {
        font-size: 2rem;
        margin-left: 0rem;
        text-align: center;
    }
    #about h2 {
        margin: 7px;
        text-align: center;
    }
    #about p {
        font-size: 15px;
        text-align: center;
    }
    .rose {
        top: -10%;
        width: 80px;
        height: 80px;
    }
    #gallery {
        padding-top: 15%;
    }
    #gallery .circleLogo {
        top: -9%;
        left: 35.5%;
    }
    .cart {
        width: 100%;
        top: 10%;
    }
}

@media screen and (max-width: 450px) {
    .itemAlert {
        width: 158px;
        height: 25px;
        left: 32%;
        font-size: 12px;
    }
    #topBar {
        font-size: 10px;
        justify-content: center !important;
    }
    .logo {
        margin-top: 10%;
    }
    .navbar-space {
        margin-top: -40%;
    }
    #gallery .gallery-img {
        margin-bottom: 15px;
    }
}

@media screen and (max-width: 350px) {
    .itemAlert {
        left: 26%;
    }
    #topBar {
        font-size: 8px;
    }
    .icons {
        top: 35%;
        font-size: 12px;
    }
    .addToCart-counter .btn {
        width: 30px;
    }
}
